/* Default */
@font-face {
    font-family: Helvetica;
    src: url(../font/Helvetica.ttf);
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Bootstrap Default Design Reset */
h1,
h2,
h3,
h4,
h5,
p,
a,
li,
ul {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* NavTop Section*/
.navtop .brand img {
    height: 58px;
    width: auto;
}

.navtop input {
    border: 1px solid #e1e5eb;
    border-radius: 2px;
    max-width: 654px;
    height: 38px;
    background: #fff;
    font-family: Helvetica;
    outline: 0;
}

.navtop .search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a2d056;
    border-radius: 2px;
    width: 44px;
    height: 38px;
}

.navtop .search_icon {
    color: #fff;
}

/* Navbar Secton */
nav {
    background-color: #0285b9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .wrapper {
    padding: 10px 0px !important;
}

nav .wrapper .hamburger {
    border: 1px solid #fff;
    background: transparent;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 3px;
}

nav .wrapper .hamburger i {
    color: #fff;
    font-size: 16px;
}

nav .menubox {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 350px;
    height: 100%;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
    box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
    transition: left .6s cubic-bezier(.6, .1, .68, .53);
}

nav .menubox.show {
    left: 0;
}

nav .menubox>li {
    border-right: 1px solid #fff;
    cursor: pointer;
    position: relative;
    padding: 0px 40px;
}

nav .menubox>li>a {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

nav .menubox li:hover {
    background: #fff;
}

nav .menubox li.show {
    background: #fff;
}

nav .menubox li.show a {
    color: #0285B9;
}

nav .menubox li:hover a {
    color: #0285B9;
}

nav .menubox li span {
    position: absolute;
    z-index: 9999;
    right: 12px;
    padding: 0px 16px;
    font-weight: 900;
    font-style: normal;
    font-size: 15px;
    border: 1px solid;
    border-radius: 30px;
}

nav .menubox li a {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 187%;
}

nav .menubox .close {
    background-color: transparent;
    padding: 5px;
    margin: 12px 12px;
    border: 1px solid #000000;
    width: 45px;
    border-radius: 3px;
}

nav .menubox li:last-child {
    border-right: 0;
}

nav .dropdown {
    position: static !important;
    top: 80%;
    min-width: 265px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    height: 0;
}

nav .dropdown li {
    padding: 0;
    width: 100%;
}

nav .dropdown li a {
    padding: 0;
    display: inline-block;
    width: 100%;
}

nav .dropdown li:hover {
    background-color: #EBE1E1;
}

nav .dropdown li:hover a {
    color: #333333;
}

nav .dropdown li a {
    color: #000000 !important;
    font-weight: 400;
}

nav .menubox li.mainlink.show .dropdown {
    top: 100%;
    visibility: visible;
    opacity: 1;
    height: inherit;
}

/* Home Page*/
/* Bannar Section*/
.bannar {
    margin-top: 30px;
}

.carousel-indicators {
    column-gap: 8px;
    margin-bottom: 14px !important;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    background-color: #000000 !important;
    border: none !important;
    border-radius: 50% !important;
}

.carousel-indicators button.active {
    background-color: #1D81F9 !important;
}

.bannar .c-item {
    height: 200px;
    width: 100%;
}

.bannar .c-img {
    height: 100%;
    width: 100%;
}

.bannar .carousel-caption {
    margin: 0px !important;
    top: 60px !important;
    left: 30px !important;
    padding: 0 !important;
    text-align: left;
}

.bannar .carousel-caption h3 {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    margin: 0 !important;
    padding: 0 !important;
}

.bannar .carousel-caption h2 {
    max-width: 212px !important;
    font-weight: 700;
    font-size: 12px;
    color: #100e0e;
    margin-top: 10px !important;
    padding: 0 !important;
}

.bannar .carousel-caption button.btn-primary {
    margin-top: 4px !important;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

/* sormulabel Section */
.sormulabel h3 {
    padding: 8px 0px;
    background-color: #0285b9;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

/* accelerating  Section*/
.accelerating {
    margin-top: 25px;
    margin-bottom: 57px;
}

.accelerating .image img {
    width: 100% !important;
}

.accelerating .content h2 {
    font-family: var(--font-family);
    font-weight: 500;
    margin-top: 20px;
    font-size: 21px;
    line-height: 130%;
    color: #3f4b4f;
}

.accelerating .content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #7a7a7a;
    padding: 10px 0 9px;
}

.accelerating .content a {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    background: #6390e0;
    padding: 5px 7px;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

/*break section */
.break {
    border-top: 1px solid #c5c5c6;
    margin-bottom: 30px;
}

/* blog section */
.blog {
    margin-bottom: 140px;
}

.blog .row {
    grid-row-gap: 36px;
}

.blog .row .card {
    border: none;
    border-radius: 0px;
}

.blog .row .card .card-body {
    padding: 0;
}

.blog .row .card .card-body h5 {
    padding-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #3b4448;
}

.blog .row .card .card-body hr {
    margin: 12px 0 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.blog .row .card .card-body p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #090808;
    margin-bottom: 10px;
}

.blog .row .card .card-body a {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    background: #6390e0;
    padding: 5px 7px;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

/* footer section */
footer {
    padding: 50px 0 40px;
    background: #373a48;
}

footer .sec1 p {
    margin-top: 15px;
    max-width: 227px;
    font-weight: 400;
    font-size: 13px;
    line-height: 170%;
    color: #fff;
}

footer .sec2 h3,
footer .sec3 h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
}

footer .sec2 ul li a {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #e9d0d0;
}

footer .sec3 p {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #e9d0d0;
}

/* social section*/
.socialicon {
    padding: 50px 0 40px;
    gap: 30px;
}

/* terms section*/
.trams {
    background: #383737;
}

.trams p {
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    color: #e9d0d0;
}

/* Product Page */
/* product section*/
.product h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #333;
    margin: 60px 0px;
}

.product .items {
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 130px;
}

.product .imagefield {
    cursor: pointer;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.product .imagefield::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(3, 1, 15, 0.31);
    z-index: -1;
}

.product .imagefield:hover {
    background: #6EC1E4;
}

.product .imagefield:hover img {
    opacity: .4;
}

.product .imagefield .title {
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 18px 0 #333;
}

.product .imagefield img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
}


/* Antibody Page */
/* Antibody section*/
.antibody {
    padding: 50px 0 90px;
}

.antibody .content h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #333;
    margin-bottom: 35px;
}

.antibody .content p {
    font-weight: 400;
    font-size: 12px;
    line-height: 186%;
    color: #333;
    max-width: 710px;
}

.antibody .content p.tramss {
    margin: 12px 0px 25px;
}

.antibody .content p.tramss span {
    font-weight: 400;
    font-size: 12px;
    line-height: 186%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0170b9;
}

.antibody .content a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    display: inline-block;
    text-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background: #61ce70;
    border-radius: 5px;
    text-align: right;
    padding: 16px 24px;
    margin-left: 80px;
}

.antibody .content a:hover {
    background: #61ce70e0;
}

/* technology Page */
/* technology section*/
.technology {
    margin-bottom: 70px;
}

.technology .items {
    margin-bottom: 30px;
}

.technology .title h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #3a3a3a;
}

.technology .title p {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    color: #7a7a7a;
    max-width: 720px;
}


/* Amplatto Pages */
/* Amplatto Section */
.amplatto {
    margin: 50px 0 60px;
}

.amplatto .wrapper {
    max-width: 740px;
}

.amplatto h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #333;
    margin-bottom: 20px;
}

.amplatto .image {
    max-width: 740px;
    height: 180px;
    margin: 30px 0px;
}

.amplatto .image img {
    height: 100%;
    width: 100%;
}

.amplatto .title>h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #333;
}

.amplatto .title>p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #333;
}

.amplatto .title2>h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #333;
}

.amplatto .title2>h4 span {
    font-weight: 700;
}

.amplatto .title2>p {
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #333;
    margin: 22px 0px;
}

.amplatto .title3 {
    padding-left: 40px;
}

.amplatto .title3>p {
    font-size: 13px;
    font-weight: 400;
    line-height: 169%;
    color: #333;
    margin: 5px 0px;
}

.amplatto .title3>p span {
    font-weight: 700;
}

.amplatto .title4>p {
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #333;
    margin: 16px;
}

/* About Page */
/* About section */
.aboutus {
    margin: 35px 0 30px;
}

.aboutus .wrapper {
    max-width: 740px;
}

.aboutus h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    color: #333;
}

.aboutus h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #333;
    margin: 30px 0 14px;
}

.aboutus p {
    font-weight: 400;
    font-size: 12px;
    line-height: 169%;
    color: #333;
}

.aboutus p.middle {
    margin: 32px 0;
}

.aboutus .imagefield {
    margin: 25px 0px;
    border-radius: 20px;
    height: 100px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.aboutus .imagefield.extra::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #5CB9B37A;
    top: 0;
    left: 0;
    z-index: 1;
}

.aboutus .imagefield:hover {
    background: rgba(176, 188, 221, 0.25);
    opacity: .8;
}

.aboutus .imagefield img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutus .overlay {
    left: 20px;
    z-index: 3;
}

.aboutus .overlay h2 {
    z-index: 3;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 0%;
    padding: 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 0 rgba(20, 4, 4, 0.92);
}


/* career pages */
/* career section */
.career {
    margin: 40px 0px;
}

.career h1 {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #3a3a3a;
}

.search_section {
    background: #eee;
    max-width: 1200px;
    padding: 16px;
}

.search_section .search_field {
    flex-direction: column;
    row-gap: 8px;
}

.search_section .search_field input {
    outline: none;
    padding: 12px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    width: 100%;
    height: 41px;
    background: #fafafa;
}

.search_section .searchbtn {
    margin-top: 8px;
}

.search_section .searchbtn a {
    background: #0170b9;
    color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 45px;
}

.career .career_inner {
    margin-top: 30px;
    background: #fff;
}

.career .career_inner .row {
    padding: 10px;
}

.career .career_inner .content1 .date {
    background: #aad162;
    width: 73px;
    height: 74px;
}

.career .career_inner .content1>h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    color: #3a3a3a;
    padding-left: 42px;
}

.career .career_inner .content1 .date h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 75%;
    color: #fff;
}

.career .career_inner .content1 .date p {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #fff;
}

.career .career_inner .content2 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #999;
    max-width: 260px;
    margin-top: 0px;
    margin-top: 10px;
}

/* contact pages */
/* contact section */
.contact {
    margin: 40px 0;
}

.contact .title {
    /* WIDTH */
    /* max-width: 786px; */
    padding: 30px 0 50px;
    background: linear-gradient(180deg, #4481a8 0%, #19bcc3 100%);
}

.contact h2.headings {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #333;
    margin-bottom: 20px;
}

.contact .title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

.contact .title img {
    padding: 10px 0px;
}

.contact .title p.p1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

.contact .title p.p2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 101%;
    text-align: center;
    color: #fff;
    font-family: Helvetica;
    padding: 15px 0 15px;
}

.contact .title p.p3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 186%;
    text-align: center;
    color: #fff;
}

.contact .title p.p3 span {
    color: #000;
}

.contact .title p.p4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

.contact .contact_inner {
    padding: 30px 0px;
}

.contact .contact_inner .imgfield {
    width: 200px;
    height: 125px;
}

.contact .contact_inner .imgfield img {
    width: 100%;
    height: 100%;
}

.contact h2.heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #333;
    margin-bottom: 20px;
}

.contact .contact_inner .title2 p.des {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    color: #212121;
    max-width: 310px;
    margin: 18px 0 40px;
}

.contact .contact_inner .title2 .quotes {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact .contact_inner .title2 .quotes h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #212121;
}

.contact .contact_inner .title2 .quotes p {
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: #2b99f0;
}

.contact .contact_form_section .formtitle h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: #212121;
}

.contact .contact_form_section .formtitle p {
    font-weight: 400;
    font-size: 12px;
    line-height: 175%;
    color: #212121;
    margin-bottom: 10px;
}

.contact .contact_form_section .contact_form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.contact .contact_form_section .contact_form div {
    width: 100%;
}

.contact .contact_form_section .contact_form label {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #212121;
    width: 100%;
    margin-bottom: 5px;
}

.contact .contact_form_section .contact_form input {
    outline: none;
    padding: 12px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 30px;
}

.contact .contact_form_section .contact_form select {
    padding: 0 12px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-size: 13px;
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 30px;
    width: 100%;
}

.contact .contact_form_section .contact_form textarea {
    padding: 12px;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 200px;
    width: 100%;
}

.contact .contact_form_section .contact_form button {
    border: 0;
    border-radius: 20px;
    width: 112px;
    height: 36px;
    background: #0285b9;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #fff;
}

.contact .map {
    height: 300px;
}

.contact .map iframe {
    /* max-width: 786px; */
}

/* antibodydetails Page*/
/* antibodydetails Section*/
.antibodydetails {
    padding: 50px 0 30px;
}

.antibodydetails .filter {
    flex-direction: column;
}

.antibodydetails .content1 h3 {
    font-weight: 300;
    font-size: 19px;
    line-height: 100%;
    color: #fff;
    background: #6e48a4;
    padding: 9px 12px;
}

.antibodydetails .content2 {
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.antibodydetails .content2 h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 186%;
    text-transform: uppercase;
    color: #3a3a3a;
}

.antibodydetails .content1 .form-check input {
    box-shadow: none;
    border: 1px solid #767676;
    border-radius: 2px;
    cursor: pointer;
}

.antibodydetails .content1 .form-check label {
    font-weight: 400;
    font-size: 15px;
    line-height: 186%;
    color: #3a3a3a;
}

.antibodydetails .result p.reshead {
    font-weight: 400;
    font-size: 15px;
    line-height: 186%;
    color: #3a3a3a;
    text-transform: uppercase;
}

.antibodydetails .result .wrapper .content3 {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 13px 0px 11px 0px;
}

.antibodydetails .result .wrapper .content3 a {
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #005f9e;
}

.antibodydetails .result .wrapper .content3 h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 186%;
    color: #3a3a3a;
}

.antibodydetails .result .wrapper .content3 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 186%;
    color: #3a3a3a;
}

/* productdetails page */
/* productdetails section */
.productdetails {
    padding: 40px 0 50px;
}

.productdetails .main {
    /* flex-direction: column-reverse; */
}

.productdetails .productimgwrapper {
    width: 420px;
}

.productdetails .productcontwrapper {
    width: 100%;

}

.productdetails .productcontwrapper h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 125%;
    color: #000;
    border-bottom: 1px solid #bdbdbd;
    padding: 0px 0px 1px 0px;
    width: 100%;
}

.productdetails .productcontwrapper p {
    margin-top: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    color: #212121;
}

.productdetails .productcontwrapper a {
    margin-left: 20px;
    color: #2B99F0;
    font-size: 16px;
    height: 100%;
    line-height: 1.42857143;
    padding: 17px 10px 11px;
}

.productdetails .productcontwrapper h3 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #0d47a1;
    margin-bottom: 5px;
}

.productdetails .productcontwrapper .table1 {
    margin-bottom: 66px;
}

.productdetails .productcontwrapper .table1 .right_side {
    width: 180px;
}

.productdetails .productcontwrapper .table1 .right_side img.iso {
    width: 71px;
    height: 71px;
}

.productdetails .productcontwrapper .table1 .right_side img.t {
    margin-top: 25px;
    width: 25px;
    height: 25px;
}

.productdetails .productcontwrapper .table2 table,
.productdetails .productcontwrapper .table1 table {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.productdetails .productcontwrapper .table1 table tr,
.productdetails .productcontwrapper .table2 table tr {
    border-bottom: 1px solid #e0e0e0;

}

.productdetails .productcontwrapper .table1 table td {
    padding: 15px 0px 9px 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: #212121;
}

.productdetails .productcontwrapper .table1 table td.left {
    border-right: 1px solid #e0e0e0;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    color: #212121;
    background: #f1f8fe;
    padding: 15px 30px 9px 80px;
}

.productdetails .productcontwrapper .break p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.productdetails .productcontwrapper .break p span {
    color: #2196f3;
}

.productdetails .productcontwrapper .table2 table td,
.productdetails .productcontwrapper .table2 table th {
    border-right: 1px solid #e0e0e0;
}
.productdetails .productcontwrapper .table2 table th.stop,
.productdetails .productcontwrapper .table2 table td.stop{
    border-right: 0;

}

.productdetails .productcontwrapper .table2 table th{
    background: #f1f8fe;
}
.productdetails .productcontwrapper .table2 table th ,
.productdetails .productcontwrapper .table2 table td {
    padding: 10px 0 8px 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: #212121;
}